.task-card {
    background-color: #b1a7e4; /*for browsers that don't support gradients*/
    background-image: linear-gradient(180deg,#D9FCFF 20%, #E6AAFB 100%);
    border-radius: 7px;
    padding: 10px;
    width: 300px;
    height: 300px;
    margin: 16px;
    float: left;
}