.container {
    padding: 1rem;
    
}

.project-creation {
    background: #060412;
    min-height: calc(100vh - 45px);
  
  }

  .project-creation h2 {
    background-image: linear-gradient(90deg,#1a023b 15%, #360F6A 40%, #21ebf9 100%);
    padding: 1rem;
    font-size: 3.5em;
    margin: 0;
    color: #eeebff;
    text-align: center;
  }

  .project-creation h3 {
    color: white;
    margin: 1rem 0 0.5rem;
    text-align: center;
  }

  .project-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }


  input[type=text], 
  input[type=date],
  select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #D9FCFF;
    width: 300px;
  }

  input[type=submit] {
    background-color: #E6AAFB;
    color: #36003c;
    padding: 14px 20px;
    margin: 2rem 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
  }
  
  input[type=submit]:hover {
    background-color: #eec7fd;
  }
  