.container {
  padding: 1rem;
  background-color: #020f1c;
  min-height: 100vh;
  width: 100%
}

.ownership {
  background: #060412;
  min-height: calc(100vh - 45px);
}

.ownership h2 {
  background-image: linear-gradient(90deg,#1a023b 15%, #360F6A 40%, #21ebf9 100%);
  padding: 1rem;
  font-size: 3.5em;
  margin: 0;
  color: #eeebff;
  text-align: center;
}

.grid {
  display: flex;
  gap: 2.5rem;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

p {
color: white;
}

.input-wrapper {
  text-align: center;
}

.input-wrapper label {
  color: white; 
  font-size: 1.2rem; 
  margin: 1rem 0; 
  text-transform: capitalize; 
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-button {
  color: white;
  background-color: #c283ec;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  font-family: 'Times New Roman', sans-serif;
}

.submit-button:hover {
  color: white;
  background-color: #ae54ea;
}

.centered-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.member-option {
  display: block; 
  margin-bottom: 10px; 
  font-size: 18px;
}

.error {
  color: white;
  font-size: 16px;
}